/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

/* utilities */

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.padding-right {
    padding-right: 20px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

/* header */

#main-header {
    height: 80px;
    background-color: black;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}

#main-header > * {
    background-color: rgb(95, 95, 95);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

#main-header .view {
    margin-right: 10px;
}

/* main */

#users {
    background-color: black;
    padding-bottom: 20px;
    height: calc(100vh - 170px);
    overflow-y: scroll;
    
}

#users .flex {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

#users .user {
    padding: 1.5px 3px;
    position: relative;
}

#users .name-user {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    padding: 5px 3px;
    background-color: rgba(0,0,0,0.5);
}

/* footer */


#main-control {
    background-color: rgb(34, 34, 34);
    height: 90px;
    padding-left: 10px;
    justify-content: space-between;
}

.icon .icon-img {
    font-size: 30px;
}

.fas.fa-chevron-up {
    font-size: 12px;
}

.right-control {
    background-color: rgb(74, 74, 74);
    color: red;
    padding: 0 20px;
    align-self: stretch;
}

/* footer hover */

#main-control .mute:hover .icon-img,
#main-control .stop:hover .icon-img {
    color: red;
}

#main-control .invite:hover .icon-img,
#main-control .manage:hover .icon-img,
#main-control .polling:hover .icon-img,
#main-control .share:hover .icon-img {
    color: green;
}

#main-control .chat:hover .icon-img,
#main-control .record:hover .icon-img,
#main-control .rooms:hover .icon-img,
#main-control .more:hover .icon-img {
    color: blue;
}