/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
}

/* main */

#main-header {
    height: 80px;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}

#main-header > * {
    background-color: rgb(95, 95, 95);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

#main-header .view {
    margin-right: 10px;
}